.btn-amarillo-block{
    @include boton($amarillo, block);
}

.btn-amarillo {
    @include boton($amarillo, inline-block);
}

.btn-verde{
    @include boton($verde, inline-block);
}

.ver-todas{
    display: flex;
    justify-content: center;
    margin: 3rem 0rem;
    @include tablet{
        justify-content: end;
    }
}