html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: $fuente_principal;
    font-size: 1.6rem;
    line-height: 1.5; // Para que sea mas afradable al leer
}

p {
    color: $negro;
    font-size: 2rem;
    font-weight: $delgada;
}

.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

img, picture {
    max-width: 100%;
    width: 100%; // Para acomodar el width="200" height="300" en el HTML predeterminado
    height: auto; // mismo
    display: block;
}

h1, h2, h3 {
    font-family: $fuente_principal;
    margin: calc($separacion / 2) 0; // 0: Indica que el margen inferior será de 0. iz y der no se han establecido, van por default
    font-weight: 300;
    text-align: center;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.6rem;
}