.seccion {
    margin-top: calc($separacion / 2);
    margin-bottom: calc($separacion / 2);
}

.contenido-centrado {
    max-width: 114rem;
}

.alinear-derecha{
    display: flex;
    justify-content: end;
}

.comodin{
    margin-bottom: 6rem;
}