.footer {
    background-color: $grisOscuro;
    align-items: center;

    @include desktop {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-flow: column;

        .copyright {
            grid-column: 1/2;
        }

        .contenido-footer {
            grid-column: 2/3;
        }
    }
}


.navegacion-footer {
    padding: 3rem;

    a {
        color: $blanco;
        text-decoration: none;
        font-size: 2rem;
        font-weight: $delgada;
        display: block;/* vista para mmovil */
        text-align: center;
    }

    @include desktop {
        display: flex;
        gap: 2.5rem;
        justify-content: end;
        margin: 0rem;
    }
}

.copyright {
    margin: 0;
    padding-bottom: 1rem;
    text-align: center;
    color: $blanco;
    font-weight: $delgada;
    @include desktop {
        padding-bottom: 0rem;
        text-align: start;
        padding-left: 3rem;
    }
}